<h1> Students </h1>

<% @students.each do |student| %>

    <h4>Name: <%= student.name %></h4>
    <p>Age: <%= student.age %></p>
    <p>House: <%= student.house %></p>

<% end %>
<h4>Average age: <%= @students.average_age %></h4>